.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
}
  
  /* Left Side (Logo) */
.brand-logo {
    margin-left: 0;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
}
  
  /* Center Links */
.center-links {
    display: flex;
    justify-content: end;
    margin: 0 0 0 auto;
    text-align: center;
}
  
.center-links .link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 10px;
}
.right-links {
    display: flex;
    margin: 0 0 0 auto;
}
.user-info {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-right: 5px;
}
.username {
    font-size: 15px;
    margin-left: 5px; /* Space between icon and email */
}
.material-icons {
    font-size: 24px; /* Adjust icon size for better alignment */
    display: flex;
    align-items: center; /* Ensure icon is centered */
    justify-content: center; /* Center icon horizontally (if needed) */
}
.right {
    display: flex;
    align-items: center;
}

.navbar {
    background-color: #2e7d32;
        .user-info {
            position: relative;
            display: inline-flex;
            cursor: pointer;
    
            .username {
                margin-left: 5px;
            }
    
            .dropdown-menu {
                display: none; // Initially hidden
                position: absolute;
                top: 100%; // Position the dropdown below the username
                right: 0;
                background-color: white;
                border: 1px solid #ddd;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                min-width: 210px;
                z-index: 1;
                border-radius: 4px;
                overflow: hidden;
    
                a {
                    color: black;
                    padding: 5px 13px;
                    text-decoration: none;
                    display: block;
                    transition: all .2s linear;
    
                    &:hover {
                        // background-color: #f1f1f1;
                        background-color: #4caf50;
                        color: #fff;
                    }
                }
            }
    
            // Show dropdown menu on hover
            &:hover .dropdown-menu {
                display: block; // Show dropdown on hover
            }
        }
    
}
  
