.main-page {
    .search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .events-list {
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem; // Add some space between event card
    }
}
